.body-men {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90wh;
}
.cont-reserv-global {
  padding: 10px;
}
.cont-reservation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .cont-reservation {
    flex-direction: column;
    text-align: center;
  }
  .cont-reservation button {
    width: 80%;
  }
}
