.body-res {
  background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #73c8a9,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #73c8a9,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
@media (max-width: 650px) {
  .body-res {
    height: 100%;
  }
}
