.cont-footer {
  background-color: black;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}
.enlace {
  font-style: italic;
  text-decoration: none;
  color: white;
}
@media (max-width: 500px) {
  .cont-footer {
    font-size: 12px;
  }
}
